@import "lib/bootstrap";
@import "textformat";
@import "calendar";
@import "signin";
@import "icons";
@import "poptrox";
@import url(font-awesome.min.css);

$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$accent-color2:        #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$primary-color: #eee;
$background-color-not-active: #ddd;

/* Carousel base class */
.carousel {
  height: 200px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 200px;
}

.nav-tabs {
    background-color: $primary-color !important;
}

.nav>li>a {
    background-color: $primary-color !important;
    color: $primary-text-color;
    border: medium none;
    border-radius: 0;
}

// .nav-tabs{
//   background-color:#161616 !important;
// }
// .tab-content{
//     background-color:#303136 !important;
//     color:#222;
//     padding:5px
// }
// .nav-tabs > li > a{
//   border: medium none;
// }
// .nav-tabs > li > a:hover{
//   background-color: #303136 !important;
//     border: medium none;
//     border-radius: 1;
//     color:#555;
// }

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #ffffff;
    border-right: 1px solid $divider-color;
    border-left: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

body {
  padding-top: 50px;
  background-color: $primary-color;
}

body, html {
    // font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-family: $font-family;
    text-decoration: none;
		font-style: normal;
		font-weight: 500;
    width: 100%;
    height: 100%;
}

.body-look {
  background-color: $primary-color;
}

.body-not-active {
  background-color: $background-color-not-active;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.mp-padding {
    padding-top: 20px;
    padding-bottom: 20px
}

.form-register {
  max-width: 730px;
  padding: 15px;
  margin: 0 auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

.box-content {
    display: inline-block;
    width: 200px;
    padding: 10px;
}

.bottom {
    border-bottom: 1px solid #ccc;
}

.full { height: 100%;}


/* user prifile */
.user-profile {
  max-width: 1000px;
  padding: 15px;
  margin: 0 auto;
}
