<div class="container" ng-controller="B2BUserCtrl as b2b">
  <div class="form-register">
    <div class="page-header">
      <div>
        <h4>Register Right Away!</h4>
        <h5>We’ll help you find the right events to join, and recommend you groups to have a great hangout.</h5>
      </div>
      <div class="bottom"></div>
    </div>

    <div class="row">
      <div>
          <form ng-submit="cuc.createUser()">
            <div class="col-md-6">
                <input type="text" class="form-group form-control" placeholder="Company name" required ng-model="b2b.user.name">
                <input type="text" class="form-group form-control" placeholder="Web page" required ng-model="b2b.user.surname">
                <input type="text" class="form-group form-control" placeholder="Email" required ng-model="b2b.user.email">
                <input type="password" class="form-group form-control" placeholder="Password" required ng-model="b2b.user.password">
                <input type="text" class="form-group form-control" placeholder="Phone" required ng-model="b2b.user.phone">
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <img id="logo" src="/assets/images/GreyPeople.png" style="max-width:240px; max-height:240px;" alt="your image"/>
                <label for="logoFile">Set your logo</label>
                <input type="file" id="logoFile" onchange="updatePicture(this, 'logo')">
                <p class="help-block">Please choose picture with size 140 x 140</p>
              </div>
            </div>
            <div class="col-md-12">
              <ui-select class="form-group" multiple tagging tagging-label="false" ng-model="cuc.interests" theme="bootstrap" ng-disabled="disabled" title="Your interests">
                <ui-select-match placeholder="What are your interests?">{{$item}}</ui-select-match>
                <ui-select-choices repeat="tag in cuc.interests | filter:$select.search">
                  {{tag}}
                </ui-select-choices>
              </ui-select>

              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Information about you company"></textarea>
              </div>
              <!-- <button type="submit" class="btn btn-success">Register</button> -->
            </div>

            <!-- gallery -->
            <div class="page-header col-md-12">
              <h4>Attach pictures which might be interested for your customers.</h4>
              <div class="bottom"></div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <img id="gallery1" src="/assets/images/picsfolder.png" style="max-width:100px; max-height:100px;" onclick="triggerInputAction('file1')"/>
                <input id="file1" type="file" style='visibility: hidden;' onchange="updatePicture(this,'gallery1')">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <img id="gallery2" src="/assets/images/picsfolder.png" style="max-width:100px; max-height:100px;" onclick="triggerInputAction('file2')"/>
                <input id="file2" type="file" style='visibility: hidden;' onchange="updatePicture(this, 'gallery2')">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <img id="gallery3" src="/assets/images/picsfolder.png" style="max-width:100px; max-height:100px;" onclick="triggerInputAction('file3')"/>
                <input id="file3" id="file4" type="file" style='visibility: hidden;' onchange="updatePicture(this, 'gallery3')">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <img id="gallery4" src="/assets/images/picsfolder.png" style="max-width:100px; max-height:100px;" onclick="triggerInputAction('file4')"/>
                <input id="file4" type="file" style='visibility: hidden;' onchange="updatePicture(this, 'gallery4')">
              </div>
            </div>

            <!-- Are you venue? -->
            <div class="page-header col-md-12">
              <div class="checkbox">
                  <label>
                    <input type="checkbox" value="remember-me"> Do you offer venue?
                  </label>
              </div>
              <div class="bottom"></div>
            </div>

            <!-- <div class="col-md-6">
              <label>Address Line 1</label>
              <label>Address Line 2</label>
              <label>City</label>
              <label>State/Province/Region</label>
              <label>ZIP/Post code</label>
              <label>Country</label>
            </div> -->

            <div  >
              <div class="form-group">
                <label>Address Line 1</label>
                <input type="text" class="form-control" placeholder="Street address, P.O. box, Company name" required ng-model="b2b.address.line1">
              </div>
              <input type="text" class="form-group form-control" placeholder="Appartment, suite, unit, building, floor etc." required ng-model="b2b.address.line2">
              <input type="text" class="form-group form-control" placeholder="City" required ng-model="b2b.address.city">
              <input type="text" class="form-group form-control" placeholder="State/province/region" required ng-model="b2b.address.state">
              <input type="text" class="form-group form-control" placeholder="ZIP/Post code" required ng-model="b2b.address.phone">
              <input type="text" class="form-group form-control" placeholder="Country" required ng-model="b2b.address.country">
            </div>
            <!-- <div class="col-md-12">
              <label>Address Line 1</label><input type="text" class="form-group form-control" placeholder="Street address, P.O. bix, Company name" required ng-model="b2b.address.line1">
              <label>Address Line 2</label><input type="text" class="form-group form-control" placeholder="Appartment, suite, unit, building, floor etc." required ng-model="b2b.address.line2">
              <label>City</label><input type="text" class="form-group form-control" required ng-model="b2b.address.city">
              <label>State/Province/Region</label><input type="text" class="form-group form-control" required ng-model="b2b.address.state">
              <label>ZIP/Post code</label><input type="text" class="form-group form-control" required ng-model="b2b.address.phone">
              <label>Country</label><input type="text" class="form-group form-control" required ng-model="b2b.address.country">
            </div> -->
          </form>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/300x300?bg=2a2025&text=logo" alt="Generic placeholder image">
        </div>
      </div>

    </div>
  </div>
</div>
