<div class="container" ng-controller="CreateUserCtrl as cuc">
  <div class="form-register">
    <div class="page-header">
      <div>
        <h4>Register Right Away!</h4>
        <h5>We’ll help you find the right events to join, and recommend you groups to have a great hangout.</h5>
      </div>
      <div class="bottom"></div>
    </div>

    <div class="row">
      <div>
          <form ng-submit="cuc.createUser()">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required ng-model="cuc.user.name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Surname" required ng-model="cuc.user.surname">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" required ng-model="cuc.user.email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required ng-model="cuc.user.password">
              </div>
              <!-- <div class="form-group">
                <input type="password" class="form-control" placeholder="Re-type password" required ng-model="cuc.user.repassword">
              </div> -->
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <!-- <img src="/assets/images/GreyPeople.png" class="img-rounded img-responsive" /> -->
                <img id="blah" src="/assets/images/GreyPeople.png" style="max-width:240px; height:auto;" alt="your image"/>
                <label for="exampleInputFile">Set your profile picture</label>
                <input type="file" id="exampleInputFile" onchange="vomit(this)">
                <p class="help-block">Please choose picture with size 140 x 140</p>
              </div>
            </div>
            <div class="col-md-12">
              <ui-select class="form-group" multiple tagging tagging-label="false" ng-model="cuc.skills" tagging-tokens="ENTER|TAB|,|SPACE" ng-disabled="disabled" title="Your skills">
                <ui-select-match placeholder="What are your skills?">{{$item}}</ui-select-match>
                <ui-select-choices repeat="skill in cuc.skills | filter:$select.search">
                  {{skill}}
                </ui-select-choices>
              </ui-select>

              <ui-select class="form-group" multiple tagging tagging-label="false" ng-model="cuc.interests" tagging-tokens="ENTER|TAB|,|SPACE" ng-disabled="disabled" title="Your interests">
                <ui-select-match placeholder="What are your interests?">{{$item}}</ui-select-match>
                <ui-select-choices repeat="tag in cuc.interests | filter:$select.search">
                  {{tag}}
                </ui-select-choices>
              </ui-select>

              <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Information about you"></textarea>
              </div>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter email to invite friends to join">
              </div>

              <button type="submit" class="btn btn-success">Register</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
